<div class="movie-row" data-controller="carousel">
  <h2 class="movie-row__title"><%= title %></h2>
  <div class="movie-row__wrapper">
    <button class="movie-row__arrow movie-row__arrow--left" aria-label="前へ" type="button" data-action="click->carousel#scrollLeft">
      <i class="fa fa-chevron-left"></i>
    </button>
    <div class="movie-row__container" data-carousel-target="container">
      <% movies.each_with_index do |movie, index| %>
        <%= render partial: "movie_card", locals: { movie: movie, rank: (local_assigns[:is_rank] ? index + 1 : nil) } %>
      <% end %>
    </div>
    <button class="movie-row__arrow movie-row__arrow--right" aria-label="次へ" type="button" data-action="click->carousel#scrollRight">
      <i class="fa fa-chevron-right"></i>
    </button>
  </div>
</div>
