.content2{
  padding-top: 130px;
  width: 1200px;
  &--btns{
    text-align: center;
    margin-bottom: 10px;
    .edit-btn{
      display: inline-block;
      padding: 0.3em 1em;
      text-decoration: none;
      color: #67c5ff;
      border: solid 2px #67c5ff;
      border-radius: 3px;
      transition: .4s;
    }
    .edit-btn:hover{
      background: #67c5ff;
      color: white;
    }
    .destroy-btn{
      display: inline-block;
      padding: 0.3em 1em;
      text-decoration: none;
      color: #ffcccc;
      border: solid 2px #ffcccc;
      border-radius: 3px;
      transition: .4s;
    }
    .destroy-btn:hover{
      background: #ffcccc;
      color: white;
    }}

  &__image{
    height: 400px;
    width: 300px;
    margin: 0 auto;
    display: block;
  }
  .lower-content{
    text-align: center;
    font-family: "游ゴシック体", YuGothic;
    font-size: larger;
    &__title{
      margin-top: 30px;
      border: ridge;
      margin: 30px 300px 0 300px;
    }
    &__director{
      margin-top: 30px;
      border: ridge;
      margin: 30px 300px 0 300px;

    }
    &__category{
      margin-top: 30px;
      border: ridge;
      margin: 30px 300px 0 300px;

    }
    &__detail{
      margin-top: 30px;
      border: ridge;
      margin: 30px 150px 0 150px;
    }
    &__video{
      margin: 30px 150px 0 150px
    }
}}
.chat-form{
  margin-top: 30px;
  padding: 0　auto 0;
  position: relative;
	width: 80%;
  margin: 40px 3%;
  &--box{
    width: 300px;
    height: 50px;
  }
  &--btn{
    font-family: fantasy;
    display: inline-block;
    width: 180px;
    height:50px;

  }

}
.comments{
  margin-top: 30px;
  padding: 0　auto 0;
}